<section>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="services">
            <div class="carousel-content">
                <h1>Extensiones para el cabello</h1>
                <h6>Aplicación de extensiones de cabello</h6>
            </div>
            <img  ngSrc="assets/images/banner-large-1.jpg" width="1920" height="800" priority>
        </a>
        <a class="carousel-item" href="products">
            <div class="carousel-content">
                <h1>Tratamiento para el cabello</h1>
                <h6>Tratamiento especial en solo 3 pasos</h6>
            </div>
            <img ngSrc="/assets/images/banner-large-2.jpg" width="1920" height="800"  priority>
        </a>
        <a class="carousel-item" href="services">
            <div class="carousel-content">
                <h1>Maquillaje profesional</h1>
                <h6>Maquillaje para todo tipo de ocasiones</h6>
            </div>
            <img ngSrc="/assets/images/banner-large-3.jpg" width="1920" height="800">
        </a>
        <a class="carousel-item" href="products">
            <div class="carousel-content">
                <h1>Tintes para el cabello</h1>
                <h6>Los mejores tintes de cabello</h6>
            </div>
            <img ngSrc="/assets/images/banner-large-5.jpg" width="1920" height="800">
        </a>
    </div>
</section>