<div class="navbar-fixed">
    <nav [ngClass]="['scale-transition', classColor]">
      <div class="nav-wrapper">
        <ul class="left">
            <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" >Inicio</a></li>
            <li routerLinkActive="active"><a routerLink="/store" >Tienda</a></li>
            <li routerLinkActive="active"><a routerLink="/about">Quienes somos</a></li>
            <li><a class="waves-effect waves-light btn"(click)="open()">Agendar cita</a></li>
        </ul>
        <a  routerLink="/" class="brand-logo center">Beauty App</a>
        <ul class="right">
            <li><a (click)="goToProfile()"><i class="material-icons">person</i></a></li>
            <li><a routerLink="/cart"><i class="material-icons">shopping_cart</i></a>
              @if (count > 0) {
                <span class="my-badge">{{ count }}</span>
              }
            </li>
            <li><a routerLink="/store"><i class="material-icons">search</i></a></li>
        </ul>
      </div>
    </nav>
</div>

<div id="modal1" class="modal">
  @if (modalAppointment.isOpen) {
    <app-booking-form (onSubmit)="close($event)"></app-booking-form>
  }
</div>
