<app-carousel></app-carousel>
<!-- <blockquote class="center-align hoverable">
    <h6>
        Somos un establecimiento de belleza con más de 23 años de trayectoria y arraigo en Ciudad Juárez. Nos destacamos por superar las expectativas de nuestros clientes, quienes buscan las opciones más destacadas en tratamientos de la industria de la belleza.
        Nuestra principal meta es llevar a cabo tratamientos de belleza que proporcionen satisfacción visual y emocional a las personas. Es por esta razón que nos respaldamos en la innovación de productos y servicios, manteniéndonos siempre a la vanguardia en el ámbito de la moda.
    </h6>
   
</blockquote> -->

<h3 class="center">Servicios</h3>
<div class="row">
    <img class="materialboxed col s6" width="800" data-caption="Corte y Estilo Personalizado" src="assets/images/post-image1.jpg">
    <img class="materialboxed col s6" width="800" data-caption="Tratamiento de Reparación Intensiva" src="assets/images/post-image3.jpg">
    <img class="materialboxed col s6" width="800" style="padding-top: 25px;" data-caption="Coloración y Reflejos" src="assets/images/post-image9.jpg">
    <img class="materialboxed col s6" width="800" style="padding-top: 25px;" data-caption="Manicura y Pedicura Profesional" src="assets/images/post-image8.jpg">
</div>


<h3 class="center">Productos destacados</h3>
<div class="row">
    @for (product of featuredProducts; track product.id) {
        <app-product-card [product]="product"></app-product-card>
    }
</div>
             

