<app-carousel></app-carousel>

<h3 class="center">Servicios</h3>
<div class="row">
    <img class="materialboxed col s6" width="800" data-caption="Corte y Estilo Personalizado" src="assets/images/post-image1.jpg">
    <img class="materialboxed col s6" width="800" data-caption="Tratamiento de Reparación Intensiva" src="assets/images/post-image3.jpg">
    <img class="materialboxed col s6" width="800" style="padding-top: 25px;" data-caption="Coloración y Reflejos" src="assets/images/post-image9.jpg">
    <img class="materialboxed col s6" width="800" style="padding-top: 25px;" data-caption="Manicura y Pedicura Profesional" src="assets/images/post-image8.jpg">
</div>


<h3 class="center">Productos destacados</h3>
<div class="row">
    @for (product of featuredProducts; track product.id) {
        <app-product-card [product]="product" (addToCart)="onClickAdd($event)"></app-product-card>
    }
</div>
             

