<section class="fullscreen">
    <h1>Salon de belleza Beauty</h1>
</section>
<section class="vision-mission">
    <div class="container">
        <h2>Objetivo</h2>
        <p> Somos un establecimiento de belleza con más de 23 años de trayectoria y arraigo en Ciudad Juárez. Nos destacamos por superar las expectativas de nuestros clientes, quienes buscan las opciones más destacadas en tratamientos de la industria de la belleza.
            Nuestra principal meta es llevar a cabo tratamientos de belleza que proporcionen satisfacción visual y emocional a las personas. Es por esta razón que nos respaldamos en la innovación de productos y servicios, manteniéndonos siempre a la vanguardia en el ámbito de la moda.</p>

        <h2>Personal capacitado</h2>
        <p>Nuestro personal está altamente capacitado para brindar cualquiera de nuestros servicios de belleza. Aprovecha los mejores tratamientos de belleza, con atención personalizada, y los mejores productos profesionales.</p>
    </div>
</section>
<section class="row">
    <div class="col s4">
        <h2>Ubicación</h2>
        <p>123 Main Street, Cityville</p>
        <p>Email: infoexample.com</p>
        <p>Phone: +1 234-567-8900</p>
    </div>
    <div class="col s8">
        <img src="assets/images/map.png"/>
    </div>
</section>

<!-- <section class="customer-review">
    <div class="container">
        <h2>Reseñas</h2>
        <div class="review">
            <p>"Excellent service! Highly recommended."</p>
            <p class="author">- John Doe</p>
        </div>

    </div>
</section> -->