<div class="navbar-fixed">
    <nav>
        <a routerLink="/" class="brand-logo center">Beauty App</a>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Registro</span>
                    <form>
                        <div class="input-field">
                            <input id="username" name="username" type="text" class="validate" minlength="6" required [(ngModel)]="user.username">
                            <label for="username">Nombre de Usuario</label>
                        </div>

                        <div class="input-field">
                            <input id="password" type="password" name="password" class="validate" minlength="6" required [(ngModel)]="user.password">
                            <label for="password">Contraseña (mín. 6 caracteres)</label>
                            <p class="right">
                                <label><input type="checkbox" (click)="togglePasswordVisibility()">
                                    <span>Mostrar Contraseña</span>
                                </label>
                            </p>
                        </div>

                        <div class="input-field">
                            <input id="fullname" name="fullName" type="text" class="validate" required [(ngModel)]="user.fullName">
                            <label for="fullname">Nombre Completo</label>
                        </div>

                        <div class="input-field">
                            <input id="email" name="email" type="email" class="validate" [(ngModel)]="user.email">
                            <label for="email">Correo Electrónico (opcional)</label>
                        </div>

                        <div class="input-field">
                            <input id="phoneNumber" name="phoneNumber" type="tel" class="validate" [(ngModel)]="user.phoneNumber">
                            <label for="phoneNumber">Número de Teléfono (opcional)</label>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit" (click)="register()">Registrarse</button>
                        @if (error) {
                            <blockquote>{{ error }}</blockquote>
                        }
                    </form>
                </div>
                <div class="card-action">
                    <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
