<div class="navbar-fixed">
    <nav>
        <a routerLink="/" class="brand-logo center">Beauty App</a>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Acceso a usuarios</span>
                    <form>
                        <div class="input-field">
                            <input id="username" type="text" class="validate" name="username" [(ngModel)]="user.username">
                            <label for="username">Nombre de usuario</label>
                        </div>
                        <div class="input-field">
                            <input id="password" type="password" name="password" class="validate"  [(ngModel)]="user.password" (keyup.enter)="login()">
                            <label for="password">Contraseña</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="button" (click)="login()">Entrar</button>
                        @if (error) {
                            <blockquote>{{ error }}</blockquote>
                        }

                    </form>
                </div>
                <div class="card-action">
                    <p>Nuevo usuario? <a routerLink="/register">Registro</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
