<div class="navbar-fixed">
    <nav >
        <div class="nav-wrapper">
            <ul class="left">
                <li><a>Usuario: {{ user.username }}</a></li>
                <li><a ><i class="material-icons" (click)="logout()">logout</i></a></li>
            </ul>
            <a class="brand-logo center">Admin Beauty App</a>
            <ul class="right">
                <li routerLinkActive="active"><a routerLink="/admin" >Inicio</a></li>
                <li routerLinkActive="active"><a routerLink="/appointments">Citas</a></li>
                <li routerLinkActive="active"><a routerLink="/orders">Ordenes</a></li>
                <li routerLinkActive="active"><a routerLink="/products">Productos</a></li>
                @if (user.role === 'manager') {
                    <li routerLinkActive="active"><a routerLink="/users">Usuarios</a></li>
                }
            </ul>
        </div>
    </nav>
</div>
<body class="grey lighten-4">
    <router-outlet></router-outlet>
</body>